body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-sidebar {
  background: #2c2e3e;
}
.link-page {
  color: #868aa8;
}
.icon-page {
  color: #868aa8;
  margin-right: 5px;
}
.group-page:hover .link-page {
  color: #ffffff;
  transition: all 0.3s ease;
}
.group-page:hover .icon-page {
  color: #ffffff;
  transition: all 0.3s ease;
}
#google-map {
  width: 100%;
  height: 400px;
}
.card--content {
  min-height: calc(100vh - 222px);
}
.dashboard__icon {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.category_detail {
  color: #ffb900;
}